stateMachines/rollbackDatabase.yml
name: ${self:custom.stateMachine.rollbackDatabase}
id: RollbackDatabaseStateMachine
role: !GetAtt [RollbackDatabaseStateMachineRole, Arn]
definition:
  Comment: |
    State machine for rolling back database based on the snapshot identifier.
  StartAt: HasSnapshot
  States:
    HasSnapshot:
      Type: Choice
      Choices:
        - And:
          - Variable: $.databaseOptions.migrationsChanged
            BooleanEquals: true
          - Variable: $.databaseOptions.sameInstanceDBBackup
            BooleanEquals: true
          - Not:
              Variable: $.environment
              StringEquals: production
          Next: RollbackDatabaseCopy
        - Variable: $.databaseOptions.isRDS
          BooleanEquals: false
          Next: NotifySuccess
        - Variable: $.hostedZoneId
          BooleanEquals: false
          Next: NotifySuccess
        - Variable: $.snapshotIdentifier
          BooleanEquals: false
          Next: NotifySuccess
      Default: CreateInstFromSnap

    CreateInstFromSnap:
      Type: Task
      Resource: !GetAtt [CreateInstFromSnapLambdaFunction, Arn]
      ResultPath: null
      Next: WaitSnapshot
      Parameters:
        Payload:
          environment.$: $.environment
          rdsIdentifier.$: $.rdsIdentifier
          snapshotIdentifier.$: $.snapshotIdentifier
      Retry:
        - ErrorEquals:
            - Lambda.ServiceException
            - Lambda.AWSLambdaException
            - Lambda.SdkClientException
            - Lambda.Unknown
          IntervalSeconds: 2
          MaxAttempts: 6
          BackoffRate: 2
      Catch:
        - ErrorEquals:
            - States.ALL
          ResultPath: $.errorInfo
          Next: NotifyError

    WaitSnapshot:
      Type: Wait
      Seconds: 150
      Next: IsRollbackInstReady

    IsRollbackInstReady:
      Type: Task
      Resource: !GetAtt [IsRollbackInstReadyLambdaFunction, Arn]
      ResultPath: $.databaseURL
      Next: RenameOldDB
      Parameters:
        Payload:
          environment.$: $.environment
          rdsIdentifier.$: $.rdsIdentifier
          snapshotIdentifier.$: $.snapshotIdentifier
      Retry:
        - ErrorEquals:
            - Lambda.ServiceException
            - Lambda.AWSLambdaException
            - Lambda.SdkClientException
            - Lambda.Unknown
          IntervalSeconds: 2
          MaxAttempts: 6
          BackoffRate: 2
      Catch:
        - ErrorEquals:
            - DatabaseInstanceNotReadyError
          ResultPath: null
          Next: WaitSnapshot
        - ErrorEquals:
            - describeDBInstances
          ResultPath: $.errorInfo
          Next: NotifyError
        - ErrorEquals:
            - States.ALL
          ResultPath: $.errorInfo
          Next: NotifyError

    RenameOldDB:
      Type: Task
      Resource: !GetAtt [RenameOldDBInstLambdaFunction, Arn]
      Next: WaitOldDBRenaming
      ResultPath: null
      Parameters:
        Payload:
          environment.$: $.environment
          rdsIdentifier.$: $.rdsIdentifier
      Retry:
        - ErrorEquals:
            - Lambda.ServiceException
            - Lambda.AWSLambdaException
            - Lambda.SdkClientException
            - Lambda.Unknown
          IntervalSeconds: 2
          MaxAttempts: 6
          BackoffRate: 2
      Catch:
        - ErrorEquals:
            - States.ALL
          ResultPath: $.errorInfo
          Next: NotifyError

    WaitOldDBRenaming:
      Type: Wait
      Seconds: 30
      Next: IsOldDbRenamed

    IsOldDbRenamed:
      Type: Task
      Resource: !GetAtt [IsRollbackInstReadyLambdaFunction, Arn]
      Next: RenameNewDB
      ResultPath: null
      Parameters:
        Payload:
          environment.$: $.environment
          rdsIdentifier.$: $.rdsIdentifier
          old: true
          snapshotIdentifier.$: $.snapshotIdentifier
      Retry:
        - ErrorEquals:
            - Lambda.ServiceException
            - Lambda.AWSLambdaException
            - Lambda.SdkClientException
            - Lambda.Unknown
          IntervalSeconds: 2
          MaxAttempts: 6
          BackoffRate: 2
      Catch:
        - ErrorEquals:
            - DatabaseInstanceNotReadyError
          ResultPath: null
          Next: WaitOldDBRenaming
        - ErrorEquals:
            - States.ALL
          ResultPath: $.errorInfo
          Next: NotifyError

    RenameNewDB:
      Type: Task
      Resource: !GetAtt [RenameNewDBInstLambdaFunction, Arn]
      Next: WaitNewDBRenaming
      ResultPath: null
      Parameters:
        Payload:
          environment.$: $.environment
          rdsIdentifier.$: $.rdsIdentifier
      Retry:
        - ErrorEquals:
            - Lambda.ServiceException
            - Lambda.AWSLambdaException
            - Lambda.SdkClientException
            - Lambda.Unknown
          IntervalSeconds: 2
          MaxAttempts: 6
          BackoffRate: 2
      Catch:
        - ErrorEquals:
            - States.ALL
          ResultPath: $.errorInfo
          Next: NotifyError

    WaitNewDBRenaming:
      Type: Wait
      Seconds: 30
      Next: IsNewDbRenamed

    IsNewDbRenamed:
      Type: Task
      Resource: !GetAtt [IsRollbackInstReadyLambdaFunction, Arn]
      Next: DeleteDBInst
      ResultPath: null
      Parameters:
        Payload:
          environment.$: $.environment
          rdsIdentifier.$: $.rdsIdentifier
          final: true
      Retry:
        - ErrorEquals:
            - Lambda.ServiceException
            - Lambda.AWSLambdaException
            - Lambda.SdkClientException
            - Lambda.Unknown
          IntervalSeconds: 2
          MaxAttempts: 6
          BackoffRate: 2
      Catch:
        - ErrorEquals:
            - DatabaseInstanceNotReadyError
          ResultPath: null
          Next: WaitNewDBRenaming
        - ErrorEquals:
            - States.ALL
          ResultPath: $.errorInfo
          Next: NotifyError

    DeleteDBInst:
      Type: Task
      Resource: !GetAtt [DeleteDBInstLambdaFunction, Arn]
      Next: WaitDelete
      ResultPath: null
      Parameters:
        Payload:
          environment.$: $.environment
          rdsIdentifier.$: $.rdsIdentifier
      Retry:
        - ErrorEquals:
            - Lambda.ServiceException
            - Lambda.AWSLambdaException
            - Lambda.SdkClientException
            - Lambda.Unknown
          IntervalSeconds: 2
          MaxAttempts: 6
          BackoffRate: 2
      Catch:
        - ErrorEquals:
            - States.ALL
          ResultPath: $.errorInfo
          Next: NotifyError

    WaitDelete:
      Type: Wait
      Seconds: 60
      Next: IsDBInstDeleted

    IsDBInstDeleted:
      Type: Task
      Resource: !GetAtt [IsDBInstDeletedLambdaFunction, Arn]
      ResultPath: null
      Next: DeleteDBSnap
      Parameters:
        Payload:
          environment.$: $.environment
          rdsIdentifier.$: $.rdsIdentifier
      Retry:
        - ErrorEquals:
            - Lambda.ServiceException
            - Lambda.AWSLambdaException
            - Lambda.SdkClientException
            - Lambda.Unknown
          IntervalSeconds: 2
          MaxAttempts: 6
          BackoffRate: 2
      Catch:
        - ErrorEquals:
            - DatabaseInstanceNotDeleted
          ResultPath: null
          Next: WaitDelete
        - ErrorEquals:
            - States.ALL
          ResultPath: $.errorInfo
          Next: NotifyError

    DeleteDBSnap:
      Type: Task
      Resource: !GetAtt [DeleteDBSnapLambdaFunction, Arn]
      Next: NotifySuccess
      ResultPath: null
      Parameters:
        Payload:
          environment.$: $.environment
          snapshotIdentifier.$: $.snapshotIdentifier
      Retry:
        - ErrorEquals:
            - Lambda.ServiceException
            - Lambda.AWSLambdaException
            - Lambda.SdkClientException
            - Lambda.Unknown
          IntervalSeconds: 2
          MaxAttempts: 6
          BackoffRate: 2
      Catch:
        - ErrorEquals:
            - States.ALL
          ResultPath: $.errorInfo
          Next: NotifyError

    RollbackDatabaseCopy:
      Type: Task
      Resource: !GetAtt [RollbackDatabaseCopyLambdaFunction, Arn]
      ResultPath: null
      Parameters:
        Payload:
          environment.$: $.environment
          dbName.$: $.packages.serverless.dbName
          secretId.$: $.packages.serverless.dbSecretId
      Retry:
        - ErrorEquals:
            - Lambda.ServiceException
            - Lambda.AWSLambdaException
            - Lambda.SdkClientException
            - Lambda.Unknown
          IntervalSeconds: 2
          MaxAttempts: 6
          BackoffRate: 2
      Catch:
        - ErrorEquals:
            - States.ALL
          ResultPath: $.errorInfo
          Next: NotifyError
      Next: NotifySuccess

    NotifySuccess:
      Type: Task
      Resource: !GetAtt [NotifySuccessToSFLambdaFunction, Arn]
      Parameters:
        Payload:
          taskToken.$: $.taskToken
      Retry:
        - ErrorEquals:
            - Lambda.ServiceException
            - Lambda.AWSLambdaException
            - Lambda.SdkClientException
            - States.Timeout
          IntervalSeconds: 2
          MaxAttempts: 6
          BackoffRate: 2
      Next: RollbackSuccessful

    RollbackSuccessful:
      Type: Succeed

    NotifyError:
      Type: Task
      Resource: !GetAtt [NotifyFailToSFLambdaFunction, Arn]
      Parameters:
        Payload:
          errorInfo.$: $.errorInfo
          taskToken.$: $.taskToken
      Retry:
        - ErrorEquals:
            - Lambda.ServiceException
            - Lambda.AWSLambdaException
            - Lambda.SdkClientException
            - States.Timeout
          IntervalSeconds: 2
          MaxAttempts: 6
          BackoffRate: 2
      Next: RollbackFailed

    RollbackFailed:
      Type: Fail
